@import 'palette';
/* _Settings.scss */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, picture, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

html {
    /* How the user agent should calculate the total width and height of an element.
    See: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
    See: https://allthingssmitty.com/2017/01/09/css-reset-for-minimalists */
    box-sizing: border-box;  
    /* Prevent adjustments of font size after orientation changes in iOS. */
    -webkit-text-size-adjust: 100%;   
}

*, *:before, *:after {
    box-sizing: content-box;
}

a, a:visited {
    color: inherit;
}

article,
aside,
footer,
header,
nav,
section,
main {
    display: block;
}

ol, ul {
    list-style: none;
}

b, strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

img, video {
    max-width: 100%;
    /* Remove vertical spacing due to line-height (inline-block elements) */
    vertical-align: middle;
}

/* A11y warning ≈ alt attribute. */
img[alt=""], img:not([alt]) {
    border: 4px dashed rgb(131, 0, 0); 
}

/* A11y warning ≈ aria label. */
[role="img"]:not([aria-label]):not([aria-labelledby]),
svg[role="img"]:not([aria-label]):not([aria-labelledby]) {
    border: 4px dashed rgb(131, 0, 0); 
}

/* Font loading. */
@font-face {
    font-family: 'myfont'; 
    src: url("../fonts/myfont.woff2") format('woff2'),
    url("../fonts/myfont.woff") format('woff');
    /* Unicode-range subsetting defines the characters that are supported by the font. 
    See: https://unicode-table.com/en */
    unicode-range: U+0020—007F, U+0100—017F, 0400—04FF; 
    font-style: normal;
    font-weight: 400;
    /* How font files are loaded and displayed by the browser. */
    font-display: swap;
}
$myfont: 'myfont', arial, sans-serif;
